*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Inter',sans-serif;
    background-color: #EBDEF0;
    line-height: 1.6;
}
.nav1{
    display: flex;
    padding: 10px 2rem;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 5px 4rem 0px 4rem;
    font-size:17px;
    letter-spacing: 1px;
}
.nav1 h1{
    margin-left: 5px;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: -2px;
}
.nav1 li{
    list-style: none;
    display: inline-block;
    padding: 1rem;
}
.nav1 li a{
    text-decoration: none;
    width: 80px;
    padding-right: 1rem;
    color: black;
}
.nav1 li a:hover{
    text-decoration: underline;
    color: #6f507c;
    text-underline-offset: 8px;

}
.hero{
    display: flex;
    justify-content: start;
    margin-left: 7%;
    margin-top: 8%;

}

.hero .image-box{
    width:500px;
    height:280px;
}
.image-box img{
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 20px #e6c0f5;
    margin-top: 3rem;

}
.hero .bio{
    margin-left: 6rem;
    margin-top: 8%;
    font-size: 60px;
    font-family: 'inter',sans-serif;
    font-weight: 200;
}
.hero .bio .btn{
    margin-left: 23rem;
    width: 140px;
    border: none;
    padding: 12px;
    background-color:  #e49fff;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 20px;
    box-shadow: 1px 1px 9px #e2abcd;
    font-size: 14px;
}
.hero .bio .btn:hover{
    background-color:#d071f5;
    color: rgb(31, 30, 30);
}
#about{
    display: flex;
    margin-top: 5rem;
    width: 30%;
    margin-left: 8rem;
}

.details .heading{
    font-family: 'inter',sans-serif;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 2px;
    text-decoration: underline 1px;
    text-underline-offset: 5px;
}
.details .description{
    margin-top: 2rem;
    line-height: 30px;
}
.taskbar-2{
    justify-content: center;
    max-width: 100%;
    padding: 5px 0;
    background-color:#e0b4f1;
    gap:5rem;
    margin-top: 3rem;
}
.nav2 ul{
    display: flex;
    gap:17rem;
    margin-left: 40rem;
    padding: 15px

}
.nav2 ul li{
    list-style: none;

}

.nav2 ul li a{
    text-decoration: none;
    color: rgb(53, 52, 52);
    font-size: 19px;
    letter-spacing: 2px;

}
.nav2 ul li a:hover{
    text-decoration:underline ;
    color: black;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 13rem;
    margin-top: 7rem;
}
.pro1,.pro2 {
    background-color: #e0b4f1;
    width:350px;
    height: 300px;
    padding-left: 25px;
    padding-top: 20px;
    border-radius: 20px;
}
.pro1 .head ,.pro2 .head {
    margin-left: 100px;
}
.pro1 .name ,.pro2 .name{
    margin-left: 50px;
}
.pro1 img ,.pro2 img{
    border-radius: 12px;
}
.description-2{
    display: flex;
    width: 950px;
    margin-left: 500px;
    gap:200px;
}
.pro1-desc,.pro2-desc{
    margin-left: 19px;
    word-spacing: 3px;
    letter-spacing: 2px;
}
.description-2 .h{
    margin:2rem 0 2rem 110px;
    font-weight: 500;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 16px;
}
#contact{
    background-color:#e0b4f1;
}
#contact.content{
    margin-left: 50%;
}
#contact .content .cont{
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 57rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    font-weight: 600;
}
#contact .content .items{
    display: flex;
    margin-left: 45rem;
    font-size: 18px;

}
#contact .content .items .ull-1{
    display: flex;
    gap: 8px;
    margin-left: 10px;
}
#contact .content .items .ull-1 li{
    list-style: none;  
    font-weight: 500;
}
#contact .content .items ul li .id{
    text-decoration: underline;
    text-underline-offset: 3px;
}
#contact .content .items .ull-2 a{
    text-decoration: underline;
    text-underline-offset: 3px;
    color: black;
    margin-left: 10px;

}
#contact .content .items .ull-2 li{
    list-style: none;
    margin-top: 0px;
    margin-left: 3px;

}

.footer-ul{
    display: flex;
    justify-content: center;
    padding-right: 3px;
    margin-left: 9px;
}
.footer-ul li{
    list-style: none;
    margin-right: 9px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 9px;
    font-weight: 500;
}
.footer-ul a{
    text-decoration: none;
    color: black;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: rgb(92, 8, 78);
    margin-left: 9px;
}
.footer-ul a:hover{
    color: rgb(36, 35, 35);
    text-decoration: none;
}